# --- Python standard ignores ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.whl

# --- Buildroot artifacts ---
buildroot/output/
buildroot/build/
buildroot/.config.old
buildroot/.config.cmd
buildroot/.stamp_*

# --- OS images ---
*.iso
*.img
*.squashfs
*.tar
*.gz

# --- Logs ---
overlay/var/log/pylynx/*.out
overlay/var/log/pylynx/*.err

# --- Misc ---
*.swp
*.tmp
*.bak
